Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<Files ".user.ini">
    Require all denied
</Files>

<Files "app_root.php">
    Require all denied
</Files>
